.App {
  text-align: center;
  width:100%;
  height: 100vh;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 15px 20px;
    min-width: 90px;
    max-width: 120px;
    flex: 1;
    background-color: white;
    font-size: 18px;
    margin: 0 12px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 40px;
}

button:focus {
  outline: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.overlay {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background:  #f8cd05;
}

.overlay--open {
  opacity: 1;
  visibility: visible;
}

.message {
  background: black;
  border-radius: 2px;
  color: #fff;
  width: 50px;
  margin: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
}

.message--active {
  opacity: 1;
}

.message--score {
  background: #f8cd05;
  color: black;
}

header {
  padding-top: 32px;
  padding-bottom: 32px;
  width:100%;
}

header .container {
  display: flex;
  align-items: center;
}

.progress-message {
  font-weight: bold;
  min-width: 70px;
}

.progress-dot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin-left: 16px;
}
.progress-dot-container::before {
  content: '';
  position: absolute;
  top: calc(50% - 0.5px);
  left: 0;
  width: 100%;
  height: 1px;
  background-color:#dcdcdc;
}
.progress-dot {
  display: inline-block;
  background: #dcdcdc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.progress-dot--complete {
  background: #f8cd05;
}

.progress-dot:last-child {
  border-radius: 0;
}

.guess-input {
  font-size: 32px;
  font-weight: bold;
  height: 38px;
}

.letter-container {
  display: flex;
  flex-wrap: wrap;
  width:332px;
  margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.letter {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  background: #e6e6e6;
  height:45px;
  width:75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right:4px;
  margin-bottom: 30px;
}

.letter:nth-child(5) {
  margin-left:45.5px;
}

.letter::before {
  position: absolute;
  content: '';
  width: 0;
  border-bottom: 22.5px solid #e6e6e6;
  border-left: 39px solid transparent;
  border-right: 39px solid transparent;
  top: -22.5px;
}

.letter::after {
  position: absolute;
  content: '';
  width: 0;
  border-top: 22.5px solid #e6e6e6;
  border-left: 39px solid transparent;
  border-right: 39px solid transparent;
  bottom: -22.5px;
}

.found-words p {
  font-weight: bold;
}

.found-words li {
  list-style-type: none;
  margin-bottom: 8px;
}

