.App {
  text-align: center;
}

.message {
  background: black;
  border-radius: 2px;
  color: #fff;
  width: 50px;
  margin: auto;
  opacity: 0;
  transition: all 0.3s ease;
}

.message--active {
  opacity: 1;
}

.message--score {
  /* background: #f8cd05; */
  color: black;
}

