.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", serif;
}

button {
  padding: 15px 20px;
  min-width: 90px;
  max-width: 120px;
  flex: 1;
  background-color: white;
  font-size: 18px;
  margin: 0 12px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 40px;
}

button:focus {
  outline: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  background: #f8cd05;
}

.overlay h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.overlay h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.overlay__inner {
  max-width: 75%;
}

.bee-icon {
  display: block;
  margin: 0 auto 32px;
}

.overlay--open {
  opacity: 1;
  visibility: visible;
}

.overlay--queen-bee {
  background: #fff;
}

.overlay--queen-bee h1 {
  font-size: 42px;
  line-height: 48px;
}

.message {
  background: black;
  border-radius: 2px;
  color: #fff;
  margin: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
}

.message--active {
  opacity: 1;
}

.message--score {
  background: #f8cd05;
  color: black;
}

header {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
}

.progress-message {
  font-weight: bold;
  min-width: 70px;
}

.progress-dot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin-left: 16px;
}
.progress-dot-container::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
}
.progress-dot {
  position: relative;
  display: inline-block;
  background: #dcdcdc;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.progress-dot span {
  opacity: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.progress-dot--complete {
  background: #f8cd05;
}

.progress-dot--active {
  width: 30px;
  height: 30px;
}

.progress-dot--active span {
  opacity: 1;
}

.progress-dot:last-child {
  border-radius: 0;
}

.guess-input-container {
  height: 38px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.guess-input {
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
  height: 100%;
  margin: 0;
  position: relative;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.guess-input::after {
  content: "";
  display: block;
  position: absolute;
  right: -4px;
  top: 0;
  width: 2px;
  height: 40px;
  background: #f8cd05;
  animation: 1000ms blink step-end infinite;
}

.letter-container {
  display: flex;
  flex-wrap: wrap;
  width: 332px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.letter {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  background: #e6e6e6;
  height: 45px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 30px;
}

.letter::before {
  position: absolute;
  content: "";
  width: 0;
  border-bottom: 23px solid #e6e6e6;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  top: -22.5px;
}

.letter::after {
  position: absolute;
  content: "";
  width: 0;
  border-top: 23px solid #e6e6e6;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
  bottom: -22.5px;
}

.letter:nth-child(5) {
  margin-left: 45.5px;
}

.letter:nth-child(6) {
  background: #f8cd05;
}

.letter:nth-child(6)::after {
  border-top-color: #f8cd05;
}

.letter:nth-child(6)::before {
  border-bottom-color: #f8cd05;
}

.found-words p {
  font-weight: bold;
}

.found-words li {
  list-style-type: none;
  margin-bottom: 8px;
}

.found-words li.special-word {
  color: #f8cd05;
  font-weight: bold;
}
